.container {
    color: black;
    background-color: cyan;
}
#head {
    width: 80%;
    font-size: 40px;
}

.name_of_object, #result_object_name, #result_object_accuracy {
    color: rgb(0, 0, 0);
}

#camera {
    width: 350px;
    height: 350px;
    border: 2px dashed black;
}